$light-blue: #1AC4F0;
$pink: #FC35A1;
$yellow: #FFD13B;
$black: #111111;
$light-gray: #E5E5E5;

$new-blue: #00DCFF;
$new-pink: #FF5DB5;
$new-yellow: #FFD13B;


$main-colors-gradient : 
   linear-gradient(
      to right, 
      #1ac4f0, 
      #18b7ff, 
      #5fa6ff, 
      #9d8eff, 
      #d06ee2, 
      #ec5dc2, 
      #fb529f, 
      #ff507b, 
      #ff6c64, 
      #ff8d4e, 
      #ffaf3d, 
      #ffd13b
   );
