@import "src/app/app-colors.scss";





.timeline-item {
   color: #959595;
   background-color: $light-black;
   margin-bottom: 15px;
   cursor: pointer;
   position: relative;
   border-left: 3px solid;
   // border-image: $border-menu-curriculum-bottom 1;
   border-color: #959595;
   border-radius: 0px 5px 5px 0px;

   h2{
      margin: 0;
      font-weight: 700;
      // border-bottom: 1px solid #959595;
   }
}

.timeline-item:hover {
   border-image: $border-menu-curriculum-bottom 1;
}

.timeline-item::before {
   content: "";
   width: 14px;
   height: 14px;
   border: 2px solid #9d8eff;
   border-color: #202020;
   // border-image: $border-menu-curriculum-bottom 1;

   position: absolute;
   left: -38px;
   border-radius: 50%;
   top: 40%;
   transform: translateY(-50%);
   background: $light-black;
}

.timeline-item:hover::before {
   border-color: #9d8eff;
   color: $light-gray;
}

.timeline-item:hover {
   color: $light-gray;
   p {
      color: $light-gray;
   }
}

.item-date {
   color: $light-gray;
   font-weight: 700;
   width: 100%;
   background-color: $black;
   border-radius: 2px;
   text-align: center;
   height: 25px;
   margin-bottom: 15px;

   display:flex;
   justify-content: space-between;
   align-items: center;
   
   p{
      margin: 0;
      padding: 0px 13px;
   }

   
}


p{
   color: #959595;
}

.item-content {
   p {
      font-size: 16px;
      font-weight: 400;

   }

}