<div class="home-container">
   <mat-card class="card-profile">
      <mat-card-header>
         <div class="card-header">
            <div class="name">
               <h2>Raul Ryan</h2>
               <h3>Fullstack Developer</h3>
            </div>
            <div class="contact">
               <mat-icon>close</mat-icon>
               <mat-icon>close</mat-icon>
               <mat-icon>close</mat-icon>
               <mat-icon>close</mat-icon>
            </div>
         </div>
      </mat-card-header>
      <div class="card-content">
         <div class="card-main-content">
            <div class="about-me">
               <h2>Who am i?</h2>
               <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
               </p>
            </div>
            <div class="info">
               <table>
                  <tr>
                     <th>Age</th>
                     <td>21</td>
                  </tr>
                  <tr>
                     <th>Country</th>
                     <td>Brazil</td>
                  </tr>
                  <tr>
                     <th>City/State</th>
                     <td>Iperó, SP</td>
                  </tr>
                  <tr>
                     <th>E-mail</th>
                     <td>ryanraul_11@hotmail.com</td>
                  </tr>
                  <tr>
                     <th>Phone</th>
                     <td>+55 15 99750 7839</td>
                  </tr>
                  <tr>
                     <th>Github</th>
                     <td>github.com/ryanraul</td>
                  </tr>
               </table>
            </div>
         </div>
         <div class="card-footer">
            <button color="#fff" class="custom-button">Curriculum</button>
         </div>
      </div>
      
   </mat-card>   
</div>